# Salin file ini menjadi .env lalu sesuaikan nilainya
DATABASE_URL="mysql://root:@127.0.0.1:3306/mbg_hr"
PORT=3000
JWT_SECRET="ubah-dengan-secret-acak"
JWT_EXPIRES_IN="7d"
ASSETS_API_TOKEN=ubah-dengan-token-assets
ASSETS_API_URL=https://assets.mitrabaritogroup.com
